<footer>
    <div class="container">
        <p>
            Copyleft [<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>]
            —
            Proudly hosted on an <a href="/website-updates/">ODROID HC1</a>
            running <a href="https://www.armbian.com/">Armbian</a>,
            <a href="https://docs.docker.com/">Docker</a>
            and <a href="https://http://ghost.io/">Ghost</a>
        </p>
    </div>
</footer>
