<footer>
    <div class="container">
        <p>
            Copyleft [<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>]
            —
            Proudly hosted on an <a href="/website-updates/">ODROID HC1</a>
            running <a href="https://www.armbian.com/">Armbian</a>,
            <a href="https://docs.docker.com/">Docker</a>
            and <a href="https://github.com/TryGhost/Ghost">Ghost</a>
            —
            pubkey: <a href="/key.txt" rel="pgpkey authn">PGP</a>
            <a href="/sshkey.txt" rel="pgpkey authn">SSH</a>
        </p>
    </div>
</footer>
