<footer>
    <div class="container">
        <p>
            Copyleft [<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>]
            —
            Proudly hosted on a <a href="/the-recycle-computer">&#9851; computer</a>
            running <a href="https://www.debian.org/">Debian</a>,
            <a href="https://docs.docker.com/">Docker</a>
            and <a href="https://http://ghost.io/">Ghost</a>
        </p>
    </div>
</footer>
